<template>
    <div class="flight">
        <div class="left-side">
            <div class="top-area">
                <FlightItinerary
                    :itinerary="this.flight.itineraries[0]"
                ></FlightItinerary>
            </div>
            <div class="bottom-area">
                <div class="bottom-area-item">
                    <div class="bottom-area-item-actions">
                        <div class="bottom-area-item-actions-item">
                            Детали перелета
                        </div>
                        <div class="bottom-area-item-actions-item">
                            Условия тарифа
                        </div>
                    </div>
                    <div class="bottom-area-item-status" v-if="!flight.refundable">
                        <div class="bottom-area-item-status-image">
                            <img src="@/assets/images/non-renewable.svg" alt="">
                        </div>
                        <div class="bottom-area-item-status-text">
                            невозвратный
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="price">
                {{price}}
            </div>
            <div class="choose">
                <button>
                    Выбрать
                </button>
            </div>
            <div class="price-for-all">
                Цена за всех пассажиров
            </div>
            <div class="luggage" v-if="flight.services && !flight.services['0PC']">
                <div class="luggage-status">
                    Нет багажа
                </div>
                <div class="luggage-add">
                    <button>
                        + Добавить багаж
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .flight{
        width: 100%;
        height: 168px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 12px 0;
        display: flex;
        .left-side{
            width: 100%;
            background: #F5F5F5;
            border-radius: 4px 0px 0px 4px;
            .top-area{
                display: flex;
                align-items: center;
                height: 130px;}
            .bottom-area{
                margin-left: 43px;
                &-item{
                    display: flex;
                    &-actions{
                        display: flex;
                        .bottom-area-item-actions-item:nth-child(1){
                            margin-left: 0;}
                        &-item{
                            cursor: pointer;
                            color: #7284E4;
                            margin: 0 24px;
                            border-bottom: 1px dashed #7284E4;
                            &:hover{
                                color: #6f73e4;
                                border: 0;}}}
                    &-status{
                        margin-left: 22px;
                        display: flex;
                        align-items: center;
                        &-image{
                            margin-right: 7px;
                            display: flex;
                            align-items: center;}
                        &-text{
                            font-family: Arial, sans-serif;
                            font-size: 12px;
                            line-height: 14px;}}}}}
        .right-side{
            width: 240px;
            min-width: 240px;
            .price{
                margin: 12px 0;
                font-family: Arial, sans-serif;
                font-size: 24px;
                line-height: 28px;
                text-align: center;}
            .choose{
                margin: 8px 0;
                button{
                    width: 200px;
                    height: 40px;
                    background-color: #55BB06;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: #fff;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        background-color: #57c106;}}}
            .price-for-all{
                margin: 8px 0;
                color: #707276;}
            .luggage{
                margin: 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                &-status{
                    color: #202123;
                    margin-right: 8px;}
                &-add{
                    button{
                        background-color: #EAF0FA;
                        border-radius: 2px;
                        border: 0;
                        padding: 4px 10px;
                        font-weight: 600;
                        color: #5763B3;
                        transition: all 300ms ease-in-out;
                        cursor: pointer;
                        &:hover{
                            background-color: #eff5ff;}}}}}}
    .flight:nth-child(1){
        margin-top: 0;}
</style>

<script lang="ts">

    import Vue from 'vue';
    import Component from 'vue-class-component';
    import {Prop} from 'vue-property-decorator';
    import {currencies, Flight} from '@/assets/data/data.model';
    import FlightItinerary from '@/components/page-main/FlightItinerary.vue';

    @Component({components: {
        FlightItinerary,
    }})
    export default class FlightComponent extends Vue {

        @Prop()
        private flight: Flight;

        @Prop()
        private airlineName: string | undefined;

        private get price(): string {
            return this.flight
                ? `${this.flight.price} ${currencies[this.flight.currency] || ''}`
                : '';
        }
    }
</script>
