<template>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-block">
                <div class="sidebar-block-title">
                    Опции тарифа
                </div>
                <ul>
                    <li>
                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1"
                               v-model="onlyDirectFlightsFilter">
                        <label for="styled-checkbox-1">Только прямые</label>
                    </li>
                    <li>
                        <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1"
                               v-model="onlyWithBaggageFilter">
                        <label for="styled-checkbox-2">Только с багажом</label>
                    </li>
                    <li>
                        <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1"
                               v-model="onlyRefundableFilter">
                        <label for="styled-checkbox-3">Только возвратные</label>
                    </li>
                </ul>
            </div>
            <div class="sidebar-block height324">
                <div class="sidebar-block-title">
                    Авиакомпании
                </div>
                <ul class="scrollable" v-if="airlinesArr">
                    <li style="margin-left: 3px;">
                        <input class="styled-checkbox" id="all-airlines" type="checkbox" value="value1"
                               v-model="allAirlinesFilter" v-on:change="onAllAirlinesCheckboxChange"
                               :disabled="allAirlinesFilter">
                        <label for="all-airlines">Все</label>
                    </li>
                    <li style="margin-left: 3px;" v-for="airline in airlinesArr">
                        <input class="styled-checkbox concrete-airline" type="checkbox" value="value1"
                               v-on:change="event => setFilterByAirline(event, airline)"
                               :id="airline.code" ref="concreteAirlines">
                        <label :for="airline.code">{{airline.name}}</label>
                    </li>
                </ul>
            </div>
            <div class="sidebar-action" v-bind:class="{ disabled: filtersAreEmpty }"
                 @click="!filtersAreEmpty && resetAllFilters()">
                Сбросить все фильтры
            </div>
        </div>
        <div class="flights-list">
            <div v-if="filteredFlights.length">
                <div v-for="flight in filteredFlights">
                    <FlightComponent
                            :flight="flight"
                            :airlineName="airlines[flight.validating_carrier]"
                    ></FlightComponent>
                </div>
            </div>
            <div v-else>
                <div v-if="flights">
                    <div class="no-flights">
                        Записей удовлетворяющим критериям фильтров нет.
                        <div class="no-flights-action" v-bind:class="{ disabled: filtersAreEmpty }"
                             @click="!filtersAreEmpty && resetAllFilters()">
                            Сбросить все фильтры
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="no-flights">
                        Записей удовлетворяющим критериям запроса нет.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .container{
        max-width: 1140px;
        min-height: inherit;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        .sidebar{
            position: fixed;
            top: 25px;
            .sidebar-block:nth-child(1){
                margin-top: 0;}
            &-block{
                background: #F5F5F5;
                border-radius: 4px;
                width: 240px;
                padding: 12px;
                margin-top: 12px;
                margin-right: 10px;
                margin-bottom: 12px;
                text-align: start;
                height: 144px;
                &-title{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;}
                ul{
                    list-style-type: none;
                    padding-left: 0;
                    height: fit-content;
                    width: 252px;
                    max-height: 297px;
                    li{
                        margin: 17px 0;
                        .styled-checkbox {
                            position: absolute;
                            opacity: 0;
                            & + label {
                                position: relative;
                                cursor: pointer;
                                padding: 0;}
                            & + label:before {
                                content: '';
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: text-top;
                                margin-top: -2px;
                                width: 14px;
                                height: 14px;
                                background: white;
                                border-radius: 4px;
                                border: 1px solid #B9B9B9;}
                            &:hover + label:before {
                                background: #fafafa;}
                            &:focus + label:before {
                                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);}
                            &:checked + label:before {
                                background: #55BB06;
                                border: 1px solid #55BB06;}
                            &:disabled + label {
                                cursor: auto;}
                            &:disabled + label:before {
                                box-shadow: none;
                                background: #ddd;
                                border: 1px solid #B9B9B9;}
                            &:checked + label:after {
                                content: '';
                                position: absolute;
                                left: 3px;
                                top: 5px;
                                background: white;
                                width: 2px;
                                height: 2px;
                                box-shadow:
                                        2px 0 0 white,
                                        4px 0 0 white,
                                        4px -2px 0 white,
                                        4px -4px 0 white,
                                        4px -6px 0 white,
                                        4px -8px 0 white;
                                transform: rotate(45deg);}}}
                    &.scrollable{
                        overflow-y: scroll;
                        margin-left: -3px;}}
                &.height324{
                    height: 324px;}}
            &-action{
                margin: 0;
                width: fit-content;
                cursor: pointer;
                color: #7284E4;
                border-bottom: 1px dashed #7284E4;
                &.disabled{
                    color: rgba(170, 179, 255, 0.43);
                    border-bottom: 1px dashed rgba(170, 179, 255, 0.43);}
                &:hover{
                    color: #6f73e4;
                    border: 0;
                    &.disabled{
                        color: rgba(170, 179, 255, 0.43);
                        border-bottom: 1px dashed rgba(170, 179, 255, 0.43);}}}}
        .flights-list{
            width: 100%;
            min-height: 100vh;
            margin-top: 0;
            margin-left: 275px;
            margin-bottom: 12px;
            .no-flights{
                margin-top: 80px;
                &-action{
                    margin: auto;
                    width: fit-content;
                    cursor: pointer;
                    color: #7284E4;
                    border-bottom: 1px dashed #7284E4;
                    &.disabled{
                        color: rgba(170, 179, 255, 0.43);
                        border-bottom: 1px dashed rgba(170, 179, 255, 0.43);}
                    &:hover{
                        color: #6f73e4;
                        border: 0;
                        &.disabled{
                            color: rgba(170, 179, 255, 0.43);
                            border-bottom: 1px dashed rgba(170, 179, 255, 0.43);}}}}}}
</style>

<script lang="ts">

    import Vue from 'vue';
    import {Action, Getter} from 'vuex-class';
    import Component from 'vue-class-component';
    import FlightComponent from '@/components/page-main/Flight.vue';
    import {Airline, Airlines, Flight, Flights, Itinerary} from '@/assets/data/data.model';

    const namespace = 'flights';

    @Component({ components: {
        FlightComponent,
    }})
    export default class AirTicketSearchResult extends Vue {

        @Action('setFlights', { namespace })
        private setFlights: any;

        @Getter('flights', { namespace })
        private flights: Flights | undefined;

        @Getter('airlines', { namespace })
        private airlines: Airlines | undefined;

        @Getter('airlinesArr', { namespace })
        private airlinesArr: Array<{ code: string, name: string }> | undefined;

        private onlyRefundableFilter = false;
        private onlyWithBaggageFilter = false;
        private onlyDirectFlightsFilter = false;
        private onlyTheseAirlinesFilter: Airline[] = [];
        private allAirlinesFilter = true;

        private mounted(): void {
            this.setFlights();
        }

        private get filteredFlights(): Flights {
            if (this.flights) {
                let filteredFlights = this.flights;

                if (this.onlyRefundableFilter) {
                    filteredFlights = filteredFlights.filter((flight: Flight) => {
                        return flight.refundable;
                    });
                }

                if (this.onlyWithBaggageFilter) {
                    filteredFlights = filteredFlights.filter((flight: Flight) => {
                        return flight.services && !flight.services['0PC'];
                    });
                }

                if (this.onlyDirectFlightsFilter) {
                    filteredFlights = filteredFlights.filter((iterableFlight: Flight) => {
                        if (iterableFlight.itineraries && iterableFlight.itineraries) {
                            return iterableFlight.itineraries.filter((iterableItinerary: Itinerary) => {
                                return iterableItinerary.segments.length === 1;
                            }).length === 0;
                        } else {
                            return false;
                        }
                    });
                }

                if (this.onlyTheseAirlinesFilter.length) {
                    this.allAirlinesFilter = false;
                    filteredFlights = filteredFlights.filter((iterableFlight: Flight) => {
                        return this.onlyTheseAirlinesFilter.filter((iterableAirline: Airline) => {
                            return iterableAirline.code === iterableFlight.validating_carrier;
                        }).length > 0;
                    });

                } else {
                    this.allAirlinesFilter = true;
                }

                return filteredFlights;

            } else {
                return [];
            }
        }

        private get filtersAreEmpty(): boolean {
            return !this.onlyRefundableFilter
                && !this.onlyWithBaggageFilter
                && !this.onlyDirectFlightsFilter
                && !this.onlyTheseAirlinesFilter.length;
        }

        private resetAllFilters(): void {
            this.onlyRefundableFilter = false;
            this.onlyWithBaggageFilter = false;
            this.onlyDirectFlightsFilter = false;
            this.onlyTheseAirlinesFilter = [];
            this.uncheckConcreteAirlinesCheckBoxes();
        }

        private setFilterByAirline(event: any, currentAirline: any): void {
            const { checked } = event.target;

            const onlyTheseAirlinesExcludedCurrent = this.onlyTheseAirlinesFilter.filter((iterableAirline: Airline) => {
                return iterableAirline !== currentAirline;
            });

            if (checked) {
                onlyTheseAirlinesExcludedCurrent.push(currentAirline);
            }

            this.onlyTheseAirlinesFilter = onlyTheseAirlinesExcludedCurrent;
        }

        private onAllAirlinesCheckboxChange(event: any): void {
            const { checked } = event.target;
            if (checked) {
                this.onlyTheseAirlinesFilter = [];
                this.uncheckConcreteAirlinesCheckBoxes();
            }
        }

        private uncheckConcreteAirlinesCheckBoxes(): void {
            const checkboxes = (this.$refs.concreteAirlines as HTMLInputElement[]);
            if (checkboxes && checkboxes.length) {
                checkboxes.forEach((iterableCheckbox) => {
                    iterableCheckbox.checked = false;
                });
            }
        }
    }
</script>
