<template>
    <div class="container">
        <div class="airline">
            <div class="airline-image">
                <img :src="logoUrl" alt="">
            </div>
            <div class="airline-name">
                {{itinerary.carrier_name}}
            </div>
        </div>
        <div class="departure">
            <div class="departure-date">
                {{itinerary.dep_day_hr}}
            </div>
            <div class="departure-time">
                {{itinerary.dep_time_hr}}
            </div>
        </div>
        <div class="path">
            <ItineraryChart
                :itinerary="itinerary"
            ></ItineraryChart>
        </div>
        <div class="arrive">
            <div class="arrive-date">
                {{itinerary.arr_day_hr}}
                <div class="arrive-date-diff"
                     v-if="itinerary.diff_days_hr > 0">
                    +{{itinerary.diff_days_hr}}
                </div>
            </div>
            <div class="arrive-time">
                {{itinerary.arr_time_hr}}
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .container{
        display: flex;
        align-items: center;
        .airline{
            display: flex;
            align-items: center;
            margin-left: 43px;
            width: 150px;
            &-image{
                display: flex;
                align-items: center;
                img{
                    height: 20px;}}
            &-name{
                margin: 10px;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;}}
        .departure{
            margin: 0 20px 0 5px;
            &-date{}
            &-time{
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                margin-top: -4px;}}
        .path{
            &-graph{
                &-text{}}
            &-intermediate-points{
                color: #FF9900;}}
        .arrive{
            margin: 0 5px 0 20px;
            &-date{
                display: flex;
                &-diff{
                    margin-left: 3px;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 14px;
                    color: rgba(255, 55, 36, 0.8);}}
            &-time{
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                margin-top: -4px;}}}
</style>

<script lang="ts">

    import Vue from 'vue';
    import Component from 'vue-class-component';
    import ItineraryChart from '@/components/page-main/ItineraryChart.vue';
    import {Prop} from 'vue-property-decorator';
    import {Itinerary} from '@/assets/data/data.model';

    @Component({components: {
        ItineraryChart,
    }})
    export default class FlightItinerary extends Vue {

        @Prop()
        private itinerary: Itinerary;

        private get logoUrl(): string {
            return `https://aviata.kz/static/airline-logos/80x80/${this.itinerary.carrier}.png`;
        }
    }

</script>
