<template>
    <div class="container">
        <div class="path-container">
            <div class="flight-time">
                <div class="flight-time-value">
                    {{itinerary.diff_string_hr}}
                </div>
            </div>
            <div class="path"></div>
            <div class="point-code a-point-code">
                {{itinerary.origin_code}}
            </div>
            <div class="point-code b-point-code">
                {{itinerary.dest_code}}
            </div>
            <div class="point a-point"></div>
            <div class="point b-point"></div>
            <div class="point add-point-center" v-if="segmentsCount === 2"></div>
            <div class="point add-point-left" v-if="segmentsCount === 3"></div>
            <div class="point add-point-right" v-if="segmentsCount === 3"></div>
            <div class="point add-point-center-left" v-if="segmentsCount === 4"></div>
            <div class="point add-point-center-left" v-if="segmentsCount === 4"></div>
            <div class="segments-container" v-if="itinerary.segments_strings_hr.length">
                <div class="segment"
                     v-for="string in itinerary.segments_strings_hr">
                    {{string}}
                </div>
            </div>
            <div class="segments-container" v-else>
                <div class="segment segment-direct">
                    Прямой рейс
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .container{
        .path-container{
            position: relative;
            .segments-container{
                position: absolute;
                width: 100%;
                top: 5px;
                .segment{
                    font-size: 12px;
                    line-height: 16px;
                    color: #FF9900;
                }
                .segment-direct{
                    color: #57c106;
                }
            }
            .point-code{
                position: absolute;
                top: -17px;
                font-size: 10px;
                line-height: 12px;
                color: #B9B9B9;
            }
            .a-point-code{}
            .b-point-code{
                left: 148px;
            }
            .flight-time{
                position: absolute;
                top: -20px;
                width: 100%;
                &-value{
                    font-size: 12px;
                    line-height: 18px;
                    color: #202123;
                }
            }
            .point{
                width: 4px;
                height: 4px;
                top: -2px;
                border: 1px solid #B9B9B9;
                background-color: #fff;
                border-radius: 100%;
                position: absolute;
            }
            .a-point{
                left: -2px;
            }
            .b-point{
                left: 166px;
            }
            .add-point-left{
                left: 50px
            }
            .add-point-right{
                left: 110px;
            }
            .add-point-center-left{
                left: 38px;
            }
            .add-point-center{
                left: 82px;
            }
            .add-point-center-right{
                left: 124px;
            }
            .path{
                width: 168px;
                height: 0;
                border: 1px solid #B9B9B9;
            }
        }
    }
</style>

<script lang="ts">

    import Vue from 'vue';
    import Component from 'vue-class-component';
    import {Prop} from 'vue-property-decorator';
    import {Itinerary, Segment} from '@/assets/data/data.model';

    @Component
    export default class ItineraryChart extends Vue {

        @Prop()
        private itinerary: Itinerary;

        private get segmentsCount(): number {
            return this.itinerary.segments.length;
        }
}

</script>
